{% extends 'blog/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="features">
		<div class="conteiner">
			<div class="index">
				<h1>Добро пожаловать на наш блог!</h1><br>
				<p>
					Присаживайтесь поудобнее, вас ждут увлекательные и разнообразные записи на самые разные темы. Наш блог - это место, где вы можете насладиться умными обсуждениями, захватывающими рассказами и полезными советами.
				</p>
				<p>
					Мы стремимся поделиться с вами нашими историями, идеями и знаниями. Здесь вы найдете статьи о путешествиях, искусстве, культуре, технологиях, кулинарии и многом другом. Наша цель - вдохновить вас и поделиться интересными и полезными мыслями.
				</p>
				<p>
					Не пропустите ни одного поста! Присоединяйтесь к нам и открывайте для себя новые и захватывающие миры.
				</p><br>
				<a href="{% url 'blogs_home' %}" class="btn btn-warning">Посмотреть новости</a>
			</div>
		</div>
	</div>
{% endblock %}